@font-face {
    font-family: "myFont";
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(148, 38%, 91%);
}

.form-items {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 650px;
  background-color: white;
  text-align: center;
  margin: 150px auto;
  gap: 4px;
}

h1 {
    margin-left: 30px;
    font-family: "myFont";
}
