@font-face {
  font-family: "italic_variable";
  src: url("assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "variable";
  src: url("assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: hsl(217, 61%, 90%);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

#extensions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.body {
  max-width: 1400px; /* Match your card container width */
  margin: 0 auto; /* Center the whole block */
  padding: 0 20px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 20px auto; /* center and add some spacing below */
  padding: 0 100px;
}

.filter-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* margin-bottom: 20px; */
}

.filter-btn {
  justify-content: center;
  padding: 10px;
  background-color: hsl(200, 60%, 99%); /* Neutral 200 */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 80px;
  height: 40px;
  margin: 2px;
  border: 1px solid hsl(0, 0%, 78%);
}

.filter-btn:hover {
  border: 4px solid hsl(3, 77%, 44%);
  padding: 5px;
}

.filter-btn.selected {
  background-color: hsl(3, 77%, 44%);
  color: hsl(200, 60%, 99%);
  font-weight: bold;
  padding: 5px;
}

.card {
  position: relative; /* so children can be absolutely positioned */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 16px;
  padding-bottom: 40px; /* add space so toggle doesn’t overlap */
  background-color: hsl(200, 60%, 99%);
  margin: 1px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.name {
  font-size: 18px;
  margin: 1px;
  font-family: "italic_variable", sans-serif;
}

.remove-btn {
  position: absolute;
  border: 1px solid hsl(226, 11%, 37%);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  height: 25px;
  width: 65px;
  bottom: 25px;
  left: 20px;
  background-color: hsl(200, 60%, 99%);
}

.remove-btn:hover {
  border: 3px solid hsl(3, 77%, 44%);
  cursor: pointer;
}

p {
  font-family: "variable", sans-serif;
  margin-bottom: 50px;
  font-size: 13px;
}

.toggle-switch {
  position: absolute;
  bottom: 25px;
  right: 20px;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(3, 77%, 44%);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: white;
  margin-left: 400px;
  width: 1170px;
  margin-bottom: 70px;
}

.input-container img.input-icon {
  width: 200px;
  height: 50px;
  margin-right: 10px;
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 32px;
  background: transparent;
  font-family: "italic_variable", sans-serif;
}

h1 {
  font-family: "italic_variable", sans-serif;
}
